<h2>Details</h2>

<p>            Gender: {{userCtrl.users[userCtrl.indexNumber].gender}}</p>
<p>            Title: {{userCtrl.users[userCtrl.indexNumber].title}}</p>
<p>            First: {{userCtrl.users[userCtrl.indexNumber].first}}</p>
<p>            Last: {{userCtrl.users[userCtrl.indexNumber].last}}</p>
<p>            Street: {{userCtrl.users[userCtrl.indexNumber].street}}</p>
<p>            City: {{userCtrl.users[userCtrl.indexNumber].city}}</p>
<p>            State: {{userCtrl.users[userCtrl.indexNumber].state}}</p>
<p>            Zip: {{userCtrl.users[userCtrl.indexNumber].zip}}</p>
<p>            Email: {{userCtrl.users[userCtrl.indexNumber].email}}</p>
<p>            Dob: {{userCtrl.users[userCtrl.indexNumber].dob}}</p>
<p>            Phone: {{userCtrl.users[userCtrl.indexNumber].phone}}</p>
<p>            Cell: {{userCtrl.users[userCtrl.indexNumber].cell}}</p>
<p>            Picture: {{userCtrl.users[userCtrl.indexNumber].picture}}</p>


<!--div>
    <p ng-repeat="user in userCtrl.users"></p>
    <p><a href="#{{userCtrl.users.indexOf(user)}}" ng-click="userCtrl.indexNumber = userCtrl.users.indexOf(user)"></a></p>
</div-->
